
    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">ADD TEACHER</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-lg-6 mx-auto content-form-right p-0">
                        <div class="form-w3ls p-md-5 p-4">
                            <div class="input-group1 text-right">
                                <a routerLink="/layout/manage-teacher">
                                    <button class="btn btn-outline-dark" type="submit">Manage </button>
                                </a>
                            </div>
                            <form [formGroup]="addteacher" (submit)="add()">
                                <div class="row">
                                    <div class="form-group col-sm-12 pr-sm-1">
                                        <label for="">Teacher Name</label>
                                        <input class="form-control" type="text"
                                            placeholder="Teacher's Name" required="" formControlName="name">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Email</label>
                                        <input class="form-control" type="email"
                                            placeholder="Email" required="" formControlName="email">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Password</label>
                                        <input class="form-control" type="password"
                                            placeholder="Password" required="" formControlName="password">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Qualification</label>
                                        <input class="form-control" type="text"
                                            placeholder="Qualification" required="" formControlName="qualification">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Designation</label>
                                        <input class="form-control" type="text"
                                            placeholder="Designation" required="" formControlName="designation">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Date of Joining</label>
                                        <input class="form-control" type="date"
                                            placeholder="" required="" formControlName="date_of_joining">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Experience</label>
                                        <input class="form-control" type="text"
                                            placeholder="Experience" required="" formControlName="experience">
                                    </div>
                                    <div class="input-group1 text-right">
                                        <button class="btn btn-outline-dark mx-auto d-block" type="submit">ADD</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- //contact -->

