    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">SHOW CLASSES</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-lg-10 mx-auto content-form-right p-0">
                        <div class="form-w3ls p-md-5 p-4 table-responsive">
                            <table class="table table-hover table-striped table-bordered">
                                <thead class="text-center table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Department Name</th>
                                        <th>Branch Name</th>
                                        <th>Course Name</th>
                                        <th>Subject Name</th>
                                        <th>Teacher Name</th>
                                        <th>Semester</th>
                                    </tr>
                                </thead>

                                <tbody class="text-center">
                                    <tr *ngFor="let assign of alldata; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{assign.departmentId.departmentName}}</td>
                                        <td>{{assign.branchId.branchName}}</td>
                                        <td>{{assign.courseId.courseName}}</td>
                                        <td>{{assign.subjectId.subjectName}}</td>
                                        <td>{{assign.teacherId.name}}</td>
                                        <td>{{assign.subjectId.semester}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- //contact -->

