<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>



    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">ABOUT US</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- about section -->
    <section class="w3l-text-6 py-5" id="about">
        <div class="text-6-mian py-md-4 py-3">
            <div class="container">
                <div class="row top-cont-grid align-items-center">
                    <div class="col-lg-6 left-img pr-lg-4">
                        <img src="https://englishtribuneimages.blob.core.windows.net/gallary-content/2022/5/2022_5$largeimg_322546086.jpg" alt="" class="img-responsive img-fluid" />
                    </div>
                    <div class="col-lg-6 text-6-info mb-lg-0 mb-4 pl-lg-5">
                        <h6>Internal Assessment</h6>
                        <h2>Who We are</h2>
                        <p><b>DAV Institute of Engineering & Technology</b> Jalandhar got established in year 2001 under the aegis of DAV college Managing committee. The institute is approved by AICTE and affiliated to <b>Punjab Technical University,</b> Jalandhar. This is the first degree level Engineering Institute started by the Dayanand Anglo Vedic College Trust and Management Society. The Dayanand Anglo Vedic College Trust and Management Society (Administrative office Commissionerate Jalandhar, Division : Jalandhar)  is the largest non-government educational organization in India managing a chain of 700 institutions in India and abroad. The institute is located in the heart of city on a prime piece of land adjacent to DAV College, Jalandhar on the left side of Jalandhar-Amritsar National Highway spread over an area measuring about 18 acres possessing extremely beautiful landscape with a running canal on its back and historical Burlton Park on its front.</p>
                        <a href="#blog" class="btn button-style mt-sm-5 mt-4">Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w3_stats py-5" id="stats">
        <div class="container py-md-5 py-4">
            <div class="w3-stats">
                <div class="row text-center">
                    <div class="col-md-3 col-6">
                        <div class="counter">
                            <img src="assets/images/stats1.png" alt="" />
                            <div class="timer count-title count-number" data-to="5100" data-speed="1500"></div>
                            <p class="count-text">Total Courses</p><br>
                            <h1 class="  text-body-secondary text-center ">{{allcourse}}</h1>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="counter">
                            <img src="assets/images/stats2.png" alt="" />
                            <div class="timer count-title count-number" data-to="971" data-speed="1500"></div>
                            <p class="count-text">Expert Teachers</p><br>
                            <h1 class="  text-body-secondary text-center ">{{allteacher}}</h1>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="counter">
                            <img src="assets/images/stats3.png" alt="" />
                            <div class="timer count-title count-number" data-to="7600" data-speed="1500"></div>
                            <p class="count-text">Happy Students</p><br>
                            <h1 class="  text-body-secondary text-center ">{{allstudent}}</h1>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mt-md-0 mt-4">
                        <div class="counter">
                            <img src="assets/images/stats1.png" alt="" />
                            <div class="timer count-title count-number" data-to="367" data-speed="1500"></div>
                            <p class="count-text">Total Subjects</p><br>
                            <h1 class="  text-body-secondary text-center ">{{allsubject}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

