


    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">ADD MARKS</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto content-form-right p-0">
                        <div class="form-w3ls p-md-5 p-4">
                            <div class="input-group1 text-right">
                                <a routerLink="/layout/manage-marks">
                                    <button class="btn btn-outline-dark" type="submit">Manage</button>
                                </a>
                            </div>
                            <form [formGroup]="addmarks" (submit)="add()">
                                <div class="row">
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Department</label>
                                        <ng-select formControlName="departmentId">
                                            <ng-option *ngFor="let dept of alldept;" [value]="dept._id">{{dept.departmentName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Branch</label>
                                        <ng-select formControlName="branchId">
                                            <ng-option *ngFor="let branch of allbranch;" [value]="branch._id">{{branch.branchName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Course</label>
                                        <ng-select formControlName="courseId">
                                            <ng-option *ngFor="let course of allcourse;" [value]="course._id">{{course.courseName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Semester</label>
                                        <ng-select formControlName="semester">
                                            <ng-option *ngFor="let sem of allsubject;" [value]="sem._id">{{sem.semester}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Subject</label>
                                        <ng-select formControlName="subjectId">
                                            <ng-option *ngFor="let sub of allsubject;" [value]="sub._id">{{sub.subjectName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Student</label>
                                        <ng-select formControlName="studentId">
                                            <ng-option *ngFor="let student of allstudent;" [value]="student._id">{{student.studentName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Section</label>
                                        <ng-select formControlName="section">
                                            <ng-option *ngFor="let section of allstudent;" [value]="section._id">{{section.section}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Roll No.</label>
                                        <ng-select formControlName="roll_no">
                                            <ng-option *ngFor="let roll of allstudent;" [value]="roll.roll_no">{{roll.roll_no}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Teacher</label>
                                        <ng-select formControlName="teacherId">
                                            <ng-option *ngFor="let teacher of allteacher;" [value]="teacher._id">{{teacher.name}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Marks Type</label>
                                        <ng-select formControlName="marks_type">
                                            <ng-option >Internal</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Marks</label>
                                        <input class="form-control" type="number"
                                        placeholder="Full Marks" required="" formControlName="marks">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Attendance</label>
                                        <input class="form-control" type="number"
                                        placeholder="Attendance (6)" required="" formControlName="attendance">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">MST-I / MST-II</label>
                                        <input class="form-control" type="number"
                                        placeholder="MST (24)" required="" formControlName="mst">
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Assignment</label>
                                        <input class="form-control" type="number"
                                        placeholder="Assignment (10)" required="" formControlName="assignment">
                                    </div>
                                </div>
                                <div class="input-group1 text-right">
                                    <button class="btn btn-outline-dark mx-auto d-block" type="submit">ADD</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </section>

