


    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">DASHBOARD</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-lg-4 mx-auto content-form-right">
                        <div class="form-w3ls p-md-3 ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-center">DEPARTMENT</h5>
                                  <h1 class="  text-body-secondary text-center">{{alldept}}</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto content-form-right">
                        <div class="form-w3ls p-md-3 ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-center">BRANCH</h5>
                                  <h1 class="  text-body-secondary text-center ">{{allbranch}}</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto content-form-right">
                        <div class="form-w3ls p-md-3 ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-center">COURSE</h5>
                                  <h1 class="  text-body-secondary text-center ">{{allcourse}}</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto content-form-right">
                        <div class="form-w3ls p-md-3 ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-center">SUBJECT</h5>
                                  <h1 class="  text-body-secondary text-center ">{{allsubject}}</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto content-form-right">
                        <div class="form-w3ls p-md-3 ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-center">STUDENT</h5>
                                  <h1 class="  text-body-secondary text-center ">{{allstudent}}</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mx-auto content-form-right">
                        <div class="form-w3ls p-md-3 ">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                  <h5 class="card-title text-center">TEACHER</h5>
                                  <h1 class="  text-body-secondary text-center ">{{allteacher}}</h1>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- //contact -->

