


    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">UPDATE COURSES</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-lg-6 mx-auto content-form-right p-0">
                        <div class="form-w3ls p-md-5 p-4">
                            <div class="input-group1 text-right">
                                <a routerLink="/layout/manage-courses">
                                    <button class="btn btn-outline-dark" type="submit">Manage</button>
                                </a>
                            </div>
                            <form [formGroup]="updatecourses" (submit)="update()">
                                <div class="row">
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Select Department</label>
                                        <ng-select formControlName="departmentId">
                                            <ng-option *ngFor="let dept of alldept;" [value]="dept._id">{{dept.departmentName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group col-sm-6 pr-sm-1">
                                        <label for="">Branch Branch</label>
                                        <ng-select formControlName="branchId">
                                            <ng-option *ngFor="let branch of allbranch;" [value]="branch._id">{{branch.branchName}}</ng-option>
                                         </ng-select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Course</label>
                                        <input class="form-control" type="text" name="courses" id="courses"
                                            placeholder="Courses" required="" formControlName="courseName">
                                        </div>
                                </div>
                                    <div class="input-group1 text-right">
                                        <button class="btn btn-outline-dark mx-auto d-block" type="submit">UPDATE</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- //contact -->

