    <!-- inner banner -->
    <div class="inner-banner">
        <section class="w3l-breadcrumb">
            <div class="container">
                <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">MANAGE STUDENT</h4>
            </div>
        </section>
    </div>
    <!-- //inner banner -->
    <!-- contact -->
    <section class="contact" id="contact">
        <div class="container">
                <div class="row">
                    <!-- contact form -->
                    <div class="col-lg-10 mx-auto content-form-right p-0">
                        <div class="form-w3ls p-md-5 p-4 table-responsive">
                            <div class="my-1">
                                <a routerLink="/layout/students">
                                    <button class="btn btn-outline-dark" type="submit">ADD</button>                    
                                </a>
                            </div>
                            <table class="table table-hover table-striped table-bordered">
                                <thead class="text-center table-dark">
                                    <tr>
                                        <th>#</th>
                                        <th>Department Name</th>
                                        <th>Branch Name</th>
                                        <th>Course Name</th>
                                        <th>Student Name</th>
                                        <th>Student Email</th>
                                        <th>Section (A/B)</th>
                                        <th>Roll No.</th>
                                        <th>University Roll No.</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody class="text-center">
                                    <tr *ngFor="let student of allstudent; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{student.departmentId.departmentName}}</td>
                                        <td>{{student.branchId.branchName}}</td>
                                        <td>{{student.courseId.courseName}}</td>
                                        <td>{{student.studentName}}</td>
                                        <td>{{student.studentEmail}}</td>
                                        <td>{{student.section}}</td>
                                        <td>{{student.roll_no}}</td>
                                        <td>{{student.university_roll_no}}</td>
                                        <td>
                                            <a [routerLink]="['/layout/update-student', student._id]">
                                                <i class="fa fa-edit text-success"></i>
                                            </a>
                                            <i class="fa fa-trash text-danger" (click)="deleteuser(student._id)"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- //contact -->

