<ngx-spinner 
    bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p>
</ngx-spinner>




    <!-- banner section -->
    <section id="home" class="w3l-banner py-5">
        <div class="container pt-5 pb-md-4">
            <div class="row align-items-center">
                <div class="col-md-6 banner-left pt-md-0 pt-5">
                    <h3 class="mb-sm-4 mb-3 title">This is new way to Internal <span class="type-js"><span
                                class="text-js">Assessment</span></span></h3>
                    <div class="mt-md-5 mt-4 mb-lg-0 mb-4">
                        <a class="btn button-style" routerLink="/layout/about">Get Started</a>
                    </div>
                </div>
                <div class="col-md-6 banner-right mt-md-0 mt-4">
                    <img class="img-fluid" src="https://img.freepik.com/premium-photo/classroom-withcheerful-students-sitting-their-desks-happily-clapping-along-song-ledby-their-teacher_968529-186519.jpg?size=626&ext=jpg" alt=" ">
                </div>
            </div>
        </div>
    </section>
    <!-- //banner section -->
    <!-- middle section -->
    <section class="w3l-servicesblock py-md-5 py-4">
        <div class="container pb-2">
            <div class="row align-items-center">
                <div class="col-lg-6 left-wthree-img pr-lg-4">
                    <img src="https://images.collegedunia.com/public/college_data/images/campusimage/15941970234-3.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 about-right-faq align-self mb-lg-0 mb-5 pl-xl-5">
                    <h6>About Us</h6>
                    <h3 class="title-big mb-3">We provide the Online Internal Assessment</h3>
                    <p class="">At the Diploma program stage, the students are required to study the various subject groups at a higher level and lower level. The internal assessments are mandatory and are conducted in addition to the Extended Essay (EE) and Theory of Knowledge (TOK). Both these levels require the students to complete two types of assessments, which are:</p>
                    <div class="row mt-lg-3 mb-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center left-insp-art">
                                <h6><span class="fa fa-angle-double-right mr-2"></span>Internal Assessment</h6>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-4">
                            <div class="d-flex align-items-center left-insp-art">
                                <h6><span class="fa fa-angle-double-right mr-2"></span>External Assessment</h6>
                            </div>
                        </div>
                    </div>
                    <p>Students are required to prepare differently for each Internal Assessment (IA) as they differ in requirements. Internal assessments are graded by the school teacher and moderated by an IB examiner. Hence, Students must take the help of expert tutors, who have rich experience in writing Internal Assessments.</p>
                    <a class="btn button-style button-2 mt-lg-5 mt-4" routerLink="/layout/about">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- //middle section -->
    